.html, body {
    margin: 0;
    padding: 0;
}

.topo {
    background-color: rgb(35, 35, 35);

}

.msgErro{
    font-size: 25px;
    color: red;
}

.msgSucesso{
    font-size: 25px;
    color: green;
}